[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "external/iceoryx"]
	path = external/iceoryx
	url = https://github.com/eclipse-iceoryx/iceoryx.git
